.signIn {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 30px;
  font-family: "Inter";
  font-style: normal;
  margin: 200px auto auto auto;

  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
  }

  .inputs_btn {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;

    .input_icon {
      margin: 0 10px 0 20px;

      img {
        width: max-content;
        height: 25px;
        user-select: none;
      }
    }
    .hide_password {
      position: absolute;
      right: 18.75px;

      img {
        width: max-content;
        height: 12px;
        user-select: none;
        cursor: pointer;
      }
    }
    .message {
      color: #f11515;
    }
  }
}

@media (max-width: 500px) {
  .signIn_main {
    border: none;
    margin: 100px auto;
  }
}
