footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  border-top: 1px solid #e6e6e6;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    user-select: none;
    p {
      color: #838383;
    }
  }
}
